.favorites {
  background-color: #fff;
}
.favoritesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 0.5rem;
  font-size: 13px;
  color: #787878;
  border-bottom: 1px solid #787878;
}
.nothing {
  text-align: center;
}
hr {
  color: #f5f5f5;
}
.logotype {
  flex: 3;
  padding: 0 0 1rem 0;
}
.name {
  flex: 7;
  padding: 0 0 1rem 0;
}
.partners {
  flex: 2;
  padding: 0 0 1rem 0;
}
.projects {
  flex: 2;
  padding: 0 0 1rem 0;
}
.rate {
  flex: 2;
  padding: 0 0 1rem 0;
}
.changer {
  flex: 3;
  padding: 0 0 1rem 0;
}
