.paginator {
  margin-left: 30px;
  border: black;
}

/*.page {*/
/*  border: 2px solid #24587a;*/
/*  border-radius: 2px;*/
/*  text-align: center;*/
/*}*/

.page {
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #008cba;
}

.page.active {
  background-color: #008cba;
  color: white;
}

.page:hover {
  background-color: #008cba;
  color: white;
}

.selectedPage {
  font-weight: 900;
}
