.nav {
  grid-area: nav;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.item a {
  color: #000;
  text-decoration: none;
}

.item a.activeLink {
  color: #ec2138;
  border-bottom-color: #eb2037;
}
